<% include partials/header %>

<h1>You are in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Good Choice!</p>
<% } else{ %>
    <p>Bad Choice</p>
<% } %>
<h3>From love.ejs</h3>

<% include partials/footer %>